@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* @font-face {
    font-family: 'Roboto Mono';
    src: url('/front/public/fonts/RobotoMono-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/front/public/fonts/RobotoMono-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: bold;
  } */
